{% extends "base.html" %}

{% block content %}
  <!-- <h1>Tutorial</h1> -->
  <div class="bg-light position-fixed" id="sidebar" style="left: 50px; width: 200px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#how_to_browse" class="nav-link link-dark">
          How to Browse the Database
        </a>
      </li>
      <li>
        <a href="#how_to_search" class="nav-link link-dark">
          How to Search the Database
        </a>
      </li>
      <li>
        <a href="#how_to_suggest" class="nav-link link-dark">
          How to Suggest a Reaction
        </a>
      </li>
      <li>
        <a href="#how_to_process" class="nav-link link-dark">
          How we Process your Reactions
        </a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-auto col-mr-auto">
        <h2 id="how_to_browse">How to Browse the Database</h2>
        <br>
        <br>
        <br>
        <br>
        <h2 id="how_to_search">How to Search the Database</h2>
        <br>
        <br>
        <br>
        <br>
        <h2 id="how_to_suggest">How to Suggest a Reaction</h2>
        <br>
        <br>
        <br>
        <br>
        <h2 id="how_to_process">How we Process your Reactions</h2>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
  <!-- <div class="navbar bg-light" style="position: sticky; top: 4em;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#how_to_browse" class="nav-link link-dark">
          How to Browse the Database
        </a>
      </li>
      <li>
        <a href="#how_to_search" class="nav-link link-dark">
          How to Search the Database
        </a>
      </li>
      <li>
        <a href="#how_to_suggest" class="nav-link link-dark">
          How to Suggest a Reaction
        </a>
      </li>
      <li>
        <a href="#how_to_process" class="nav-link link-dark">
          How we Process your Reactions
        </a>
      </li>
    </ul>
  </div>
  <h2 id="how_to_browse">How to Browse the Database</h2>
  <br>
  <br>
  <br>
  <br>
  <h2 id="how_to_search">How to Search the Database</h2>
  <br>
  <br>
  <br>
  <br>
  <h2 id="how_to_suggest">How to Suggest a Reaction</h2>
  <br>
  <br>
  <br>
  <br>
  <h2 id="how_to_process">How we Process your Reactions</h2>
  <br>
  <br>
  <br>
  <br> -->
{% endblock %}
